<footer id="footer" class="text-center">
  <p>Brought to you by &hellip;</p>
  <p>
    <a id="moovweblogo" href="http://www.moovweb.com/" target="_blank">
      <img src="{{ "/images/moovweblogo.png" | prepend: {{site.baseurl}} " alt="Moovweb">
    </a>
  </p>
  <nav>
    Open Tritium &copy; 2014 |
    <a href="{{ "/about/" | prepend: site.baseurl }}">About</a> |
    <a href="https://github.com/moovweb/open-tritium">GitHub</a> |
    <a href="mailto:open-tritium@moovweb.com">Contact</a>
  </nav>
</footer>
<script src="{{site.baseurl}}/js/jquery-1.9.1.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.uranium.js"></script>
<script src="{{site.baseurl}}/js/shCore.custom.js"></script>
<script src="{{site.baseurl}}/js/shBrushJScript.js"></script>
<script src="{{site.baseurl}}/js/shBrushSass.js"></script>
<script src="{{site.baseurl}}/js/shBrushTritium.js"></script>
<script src="{{site.baseurl}}/js/shBrushXml.js"></script>
<script src="{{site.baseurl}}/js/shInit.js"></script>
